/*Created by: Grace S
*Created on: Feb 2022
*This CSS file defines the style for index.html
*ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: #c575ea;
}

h3 {
  background-color:#87e8d6;
  color: #85d;
  padding: 40px;
  text-align: center;
}

h6 {
  background-color: #87e8d6;
}

p {
  border-style: solid;
  background-color: #aa61e5;
  border-color: #e27d60;
}

p {
  font-family:Monospace;
  font-size: 15px;
}